body{
    font-family:'Open Sans', sans-serif;
}

#contenedor{  

}  

#cabecera{  
    height:8px;
} 

#menu{  
    height:8px;
}

#menu a{
    
}

#cuerpo{  
    float:left;  
    width:100%;
    display: block;
    padding-bottom: 5px;
}  

#pie{  
    height:8px;   
    clear:both;
    text-align: center;
}

table{
    border-collapse: collapse;
}

#tId{
    text-align: center;
}

#tBoton{
    text-align: right;
}

#tblRifa{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#tblRifa td{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding:3px;
}